<table border="3">
   <tr>
      <td>id</td>
      <td>username</td>
      <td>email</td>
   </tr>

   {% for a in tab %}  
      <tr>
         <td>{{ a.id }}</td>
         <td>{{ a.username }}</td>
         <td>{{ a.email }}</td>
         <td><a href="{{ path('app_addformauthors', { 'id': a.id }) }}">Update</a></td> 
         <td><a href="{{ path('app_deleteauthors', { 'id': a.id }) }}">Update</a></td>
      </tr>
   {% endfor %}

</table>
